*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 100px;
    
}
.banner h1{
   font-size: 50px;
}

.donate-btn{
    background-color:rgb(245, 69, 69);
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 100px;
}

.donate-part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.donate-part h1{
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

.amount{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   font-weight: bold;
}

.amount div{
    background-color: lightgrey;
    padding: 30px;
    margin: 30px;
}

#selected{
    color:rgb(245, 69, 69);
    border: 2px solid rgb(245, 69, 69);
}

.other-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.other-amount input{
    padding: 7px;
    margin-bottom: 10px;
}

 .hr{
    height: 1px;
    width: 700px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
} 

.services{
    display: flex;
    margin-top: 30px;
    align-items: center;
}

#medicine img{
    width:15%;
   
}

#medicine{
    background-color: rgb(238, 201, 213);
    padding: 50px;
    margin:25px;
}

#food{
    background-color: rgb(188, 231, 217);
    padding: 50px;
    margin: 25px;
}

#shelter{
    background-color: rgb(243, 199, 199);
    padding: 50px;
    margin: 25px;
}

.contact-part{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
    
}

.contact-form{
    
    width: 500px;
}

.contact-form h1{
    text-align: center;
    font-size: 35px;
    color:rgb(245, 69, 69);
    margin-top: 150px;
}

.contact-img{
    background-image: url(images/donation2.jpg);
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;

} 

.form{
    margin-top: 50px;
}

.form input{
    width: 500px;
    height: 30px;
}

.send-btn{
    background-color:rgb(245, 69, 69);
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: 175px;
    
}

.update-part h1{
    color:rgb(245, 69, 69)  ;
    font-size: 30px;
} 
.update-part{
    text-align: center;
}
.email-input{
    text-align: center;
    margin-top: 50px;
    margin-left: 325px;
    padding: 50px;
    width: 50%;
   background-color:lightgray;
}
.email-input .email{
   width:300px ;
   height:30px;
   margin-left: 10px;

}
.email-input .subscribe{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    background-color:rgb(245, 69, 69) ;
    border: none;
    color: white;
    font-size: 14px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 150px;
}
#color{
    color: rgb(245, 69, 69);
    font-size: 25px;
    font-weight: bolder;
}